h1 { 
	font-size: 72px
}
h2 {  
    font-size: 64px;
}
h3{
    font-size: 22px;
}
label, th, h4 {
    font-size: 20px;
}
label {
    line-height: 20px;
}
input{
    height: 32px;
}
input, textarea, .form-control, .input-group-addon{
	font-size: 20px;
}
span, span.formula{
    font-size: 16px;
}
.input-group-addon{
    font-size: 16px; 
}
/*
    damage-grid label{
        font-size: 16px;
    }*/

@media print{

    h3, label, th, span, p {
        
        font-weight: bold;
    }

    h1 {  
        font-size: 1.2cm;
    }
    h2 {  
        font-size: 1cm;
    }
    h3{
        font-size: 0.4cm;
    }
    label, th, h4 {
        font-size: 0.35cm;
    }
    label {
        line-height: 0.35cm;
    }
    input{
        height: 0.5cm;
    }
    input, textarea, .form-control, .input-group-addon{
        font-size: 0.35cm;
    }
    span, span.formula{
        font-size: 0.3cm;
    }
    .input-group-addon{
        font-size: 0.35cm;
    }
    /*
    damage-grid label {
        font-size: 0.1cm;
    }*/
}